
@{
    Product p1 = ViewBag.product1 as Product;
}
<p>5 saniye sonra sayfa yenilenince kaybolur</p>
<h1>@ViewBag.zaman2 </h1>

<p>10 saniye içinde istek atılırsa yenileme devam eder</p>
<h1>@ViewBag.zaman3 </h1>

<p>10 saniye içinde istek silinme izleme</p>
<h1>@ViewBag.callback</h1>


<p>Nesne atma</p>
<h1>@p1.Name </h1>


